<%- include("signinFoot") %>
<footer class="end--content flex">
    <div class="end--content-inner">
        <h2>Explore More About SouthMate</h2>
        <h3>About SouthMate</h3>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nemo eligendi ad similique quibusdam magni non dignissimos odit quod illo unde.</p>    
    </div>
    <div class="end--content-inner flex">
        <div class="end--content-list-container">
            <ul class="end--content-list">
                <h3>Explore Our Website</h3>
                <li class="end--content-list-inner"><a href="/index" class="end--content-list-inner-link">Home</a></li>
                <li class="end--content-list-inner"><a href="/about" class="end--content-list-inner-link">About</a></li>
                <li class="end--content-list-inner"><a href="/register" class="end--content-list-inner-link">Register</a></li>
                <li class="end--content-list-inner"><a href="#" class="end--content-list-inner-link">Sign in</a></li>
                <li class="end--content-list-inner"><a href="#" class="end--content-list-inner-link">Download</a></li>
            </ul>
        </div>
        <div class="end--content-list-container">
            <ul class="end--content-list second-list">
                <h3>Additional Features</h3>
                <li class="end--content-list-inner"><a href="#" class="end--content-list-inner-link">To-do-list</a></li>
                <li class="end--content-list-inner"><a href="#" class="end--content-list-inner-link">Temporary ID Generator</a></li>
            </ul>
        </div>
    </div>
</footer>
<%- include("foot") %>