<%- include("head") %>
<body>
    <header>
        <div class="container flex">
            <div class="left flex">
                <div class="toggle">
                    <img src="assets/App-Assets/hamburger.svg" alt="hamburger" class="hamburger nav-toggle">
                </div>
                <a href="#" class="logo flex">
                    <img src="assets/App-Assets/SouthMate--Logo.svg" alt="SouthMate Logo">
                    <h2 class="logoText">SouthMate</h2>
                </a>
            </div>
            <nav class="nav">
                <ul class="nav__list">
                    <li class="nav__item">
                        <a class = "nav__link" href="/">Profile</a>
                    </li>
                    <li class="nav__item">
                        <a class = "nav__link" href="/about">Security & Privacy</a>
                    </li>
                    <li class="nav__item">
                        <form action="/logout" method="post">
                            <button class = "nav__link logout" type="submit">Logout</button>
                        </form>
                    </li>
                    <li class="nav__item nav__item--btn">
                        <a class="nav__link nav__btn" href="#">Download</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>