<div id="otpModal" class="modal--signin otp-modal hide modal flex">
    <div class="signin--modal-content">
        <span class="close fa-solid fa-circle-xmark"></span>
        <div class="signin-form flex">
            <label for="otpInput" class="signin-content">Enter the 6-digit OTP sent to your email.</label>
            <input type="text"class="inputText" id="otpInput">
        </div>
        <div class="signin-form signin-form--bottom">
            <button id="submitOTP" class="signin--btn">Submit</button>
        </div>
    </div>
  </div>