<!-- signin modal -->
<div class="modal--signin hide modal flex">
    <div class="signin--modal-content">
        <a href="/" class="close fa-solid fa-circle-xmark"></a>
        <div class="signin-form flex">
            <img src="assets/Carousel--Logo.svg" alt="registration logo" class="signin-logo">
            <form action="/" id="signin-form" class="signin-form" method="post">
                <label for="idNumber" class="signin-content">Enter your ID Number</label>
                <input placeholder="Your Id Number here" type="number" name="idNumber" id="idNumber"class="inputText">
                <label for="password" class="signin-content">Enter your password</label>
                <input placeholder="Your password here" type="password" name="password" id="password"class="inputText">
            </form>
        </div>
        <div class="signin-form signin-form--bottom">
            <button type="submit" form="signin-form" class="signin--btn">Login</button>
        </div>
    </div>
</div>
