/* navbar */
header{
    background-color: yellow;
    width: 100%;
}
.logo img{
    width: 50px;
    height: 50px;
    margin: auto 0;
}
.left{
    padding: 0.5rem;
}
.logo{
    margin: 0 auto;
}
.logoText{
    display: none;
}
/* navbar */
.container{
    flex-direction: column;
}
.toggle{
    margin: auto 0;
    position: absolute;
    transition: opacity 250ms ease;
}
.toggle:focus,
.toggle:hover,
.nav__btn:focus,
.nav__btn:hover, 
.logo:focus, 
.logo:hover  {
    opacity: .75;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    /* added for nav-toggle positioning */
    position: relative;
}
.hamburger{
    padding: 0.4rem;
    width: 100%;
    position: relative;
}
.nav {
    visibility: hidden;
    height: 0;
    position: absolute;
}
/* toggle for btn */
.nav--visible {
    visibility: visible;
    height: auto;
    position: relative;
} 
.nav__list{
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding-bottom: 1rem;
}
.nav__item{
    align-self:flex-start;
    padding-bottom: 0.5rem;
}
.nav__item--btn{
    padding-top: 1rem;
}
.nav__btn{
    color: white;
    background-color: #27235E;
    padding: 0.375rem 1.3rem;
    border-radius: 10rem;
}
/* footer */
.end--content{
    flex-direction: column;
    background-color: #27235E;
    text-decoration: none;
    color:#B8B688;
    padding: 2rem 5%;
    
}
.end--content-inner{
    justify-content: space-around;
}
.end--content h2, .end--content h3{
    color:#F7EE21;
    letter-spacing: 2px;
}
.end--content-list{
    list-style: none;
    padding: 0 1rem;
}
.end--content-list-inner-link{
    color:#B8B688;
}
@media(min-width:750px){
    .toggle{
        display:none;
    }
    .logoText{
        display:block;
    }
    .container{
        justify-content: space-between;
        flex-direction: row;
    }
    /* show navbar */
    .nav {
        visibility: visible;
        height: auto;
        display: flex;
        /* dispel position absolute */
        position: relative;
        padding: 0;
    }
    /* center nav vertically */
    .nav__item--btn{
        padding-top:0;
    }
    .nav__item{
        margin: auto 0;
    }
    .nav__list{
        display: flex;
        flex-direction: row;
        padding: 0;
    }
    .nav__link{
        margin: 1rem;
    }
}
@media(min-width: 1000px){
    .end--content{
        flex-direction: row;
    }
    .end--content-inner{
        width: 50%;
    }
    .end--content-inner{
        width: 50%;
    }
}
