<%- include("partials/head.ejs") %>
<body>
    <div class="reg-email flex">
        <div class="reg-email-main">
            <div class="reg--box reg--box-top flex">
                <img src="assets/Carousel--Logo.svg" alt="transaction logo" class="reg-logo">
                <form id = "cashinForm" >
                    <label for="bank">Choose Bank to Cash-in</label><br>
                    <select name="bank" id="bank">
                        <% banks.forEach(bank => { %>
                          <option value="<%= bank._id %>">💳<%= bank.name %></option>
                        <% }); %>
                      </select><br>
                    <label for="cashinAmount">Amount:</label><br>
                    <input type="number" name="cashinAmount" id="cashinAmount" required><br>

                    <div class="g-recaptcha" data-sitekey="6LcwmB8oAAAAABJ97qxvYuqlO0PF6Wsq84V4o43C"></div>
                    <br/>
                    <input type="submit" value="Submit">
                  </form>
            </div>
        </div>
    </div>
<%- include("partials/foot.ejs") %>