<%- include("partials/head.ejs") %>
<body>
    <div class="reg-email flex">
        <div class="reg-email-main">
            <div class="reg--box reg--box-top flex">
                <img src="assets/Carousel--Logo.svg" alt="registration logo" class="reg-logo">
                <form action="/registerForm" id="email-form" class="email-form">
                    <label for="email" class="reg-content">Enter your USPF email</label>
                    <input placeholder="your_email@uspf.edu.ph"type="text" name="email" id="email"class="reg-content inputText">
                </form>
            </div>
            <div class="reg--box reg--box-bottom">
                <p>By clicking next, you will be redirected to our full registration form.</p>
                <button type="submit" form="email-form" class="reg--btn">Next</button>
            </div>
        </div>
    </div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<script src="index.js"></script>
</body>
</html>