<%- include("partials/header") %>
    <div class="register--form">
        <div class="form--outer">
            <div class="reg--title-prog--bar">
                <h1 class="reg--title">SouthMate Register Form</h1>
                <div class="progress-bar flex">
                    <div class="step">
                        <p>Basic</p>
                        <div class="bullet">
                            <span class="hide bullet-1">1</span>
                        </div>
                        <div class="check check-1 fas fa-check"></div>
                    </div>
                    <div class="step">
                        <p>Contact</p>
                        <div class="bullet ">
                            <span class="bullet-2">2</span>
                        </div>
                        <div class="hide check check-2 fas fa-check"></div>
                    </div>
                    <div class="step">
                        <p>Address</p>
                        <div class="bullet">
                            <span class="bullet-3">3</span>
                        </div>
                        <div class="hide check check-3 fas fa-check"></div>
                    </div>
                    <div class="step">
                        <p>Password</p>
                        <div class="bullet">
                            <span class="bullet-4">4</span>
                        </div>
                        <div class="hide check check-4 fas fa-check"></div>
                    </div>
                    
                </div>
            </div>
            <form action="#" id="reg-form" class="reg--form flex">
                <div class="form--inner flex slidepage-1">
                    <div class="form--title">Basic information</div>
                    <div class="input--field">
                        <div class="label">First Name:</div>
                        <input type="text" name="fname" class="regForm--text">
                    </div>
                    <div class="input--field">
                        <div class="label">Middle Name:</div>
                        <input type="text" name="mname" class="regForm--text">
                    </div>
                    <div class="input--field">
                        <div class="label">Last Name:</div>
                        <input type="text" name="lname" class="regForm--text">
                    </div>
                    <div class="input--field">
                        <div class="label">Gender:</div>
                        <select name="gender" class="gender--form">
                            <option>Male</option>
                            <option>Female</option>
                            <option>Other</option>
                        </select>
                    </div>
                    <div class="input--field input--field-btn flex">
                        <button class="input--field-btn first--btn reg--btn next--step">Next</button>
                    </div>
                </div>
                <div class="form--inner flex slidepage-2">
                    <div class="form--title">Contact & Birth Information</div>
                    <div class="input--field">
                        <div class="label">Mobile Number:</div>
                        <input type="number" name="mnumber" class="regForm--text">
                    </div>
                    <div class="input--field">
                        <div class="label">Birth Date:</div>
                        <input type="date" name="birthday">
                    </div>
                    <div class="input--field">
                        <div class="label">Place of birth: </div>
                        <input type="text" name="birthplace" class="regForm--text">
                    </div>
                    <div class="input--field">
                        <div class="label">Citizenship:</div>
                        <input type="text" name="citizenship" class="regForm--text">
                    </div>
                    <div class="input--field input--field-btn flex">
                        <button class="input--field-btn reg--btn prev--step">Previous</button>
                        <button class="input--field-btn reg--btn next--step">Next</button>
                    </div>
                </div>
                <div class="form--inner flex slidepage-3">
                    <div class="form--title">Address</div>
                    <div class="input--field ">
                        <div class="label">House Address:</div>
                        <input type="number" name="houseAddress" class="regForm--text">
                    </div>
                    <div class="input--field">
                        <div class="label">Province:</div>
                        <input type="text" name="province" class="regForm--text">
                    </div>
                    <div class="input--field">
                        <div class="label">City/Municipality </div>
                        <input type="text" name="birthplace" class="regForm--text">
                    </div>
                    <div class="input--field">
                        <div class="label">Zip Code: </div>
                        <input type="number" name="zipCode" class="regForm--text">
                    </div>
                    <div class="input--field input--field-btn flex">
                        <button class="input--field-btn reg--btn prev--step">Previous</button>
                        <button class="input--field-btn reg--btn next--step">Next</button>
                    </div>
                </div>
                <div class="form--inner flex">
                    <div class="form--title">Password</div>
                    <div class="input--field slidepage-4">
                        <div class="label">Password</div>
                        <input type="password" name="password" class="regForm--text">
                    </div>
                    <div class="input--field">
                        <div class="label">Confirm Password:</div>
                        <input type="password" name="password" class="regForm--text">
                    </div>
                    <div class="input--field input--field-btn last-page flex">
                        <button class="input--field-btn reg--btn prev--step">Previous</button>
                        <button class="input--field-btn reg--btn submit--Btn" type="submit" form="reg-form">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="modal hide reg--modal flex">
        <div class="reg--modal-content">
            <a href="/" class="close fa-solid fa-circle-xmark"></a>
            <p>You're all set up! <br>Thank you for Registering with SouthMate!</p>
        </div>
    </div>
<%- include("partials/signinFoot") %>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<script src="/javascript/index.js"></script>
</body>
</html>