<%- include("partials/header") %>
    <div class="register--form">
        <div class="form--outer">
            <div class="reg--title-prog--bar">
                <h1 class="reg--title">SouthMate Register Form</h1>
                <div class="progress-bar flex">
                    <div class="step">
                        <p>Basic</p>
                        <div id ="bullet1"  class="bullet bullet1 bullet-enlarge">
                            <i class="fa-solid fa-user"></i>
                        </div>
                    </div>
                    <div class="step">
                        <p>Contact</p>
                        <div id ="bullet2" class="bullet bullet2">
                            <i class="fa-solid fa-address-book"></i>
                        </div>
                    </div>
                    <div class="step">
                        <p>Address</p>
                        <div id ="bullet3" class="bullet bullet3">
                            <i class="fa-solid fa-house"></i>
                        </div>
                    </div>
                    <div class="step">
                        <p>Password</p>
                        <div id ="bullet4" class="bullet bullet4">
                            <i class="fa-solid fa-key"></i>
                        </div>
                    </div>
                    
                </div>
            </div>
            <form action="/registerForm" id="reg-form" class="reg--form flex" method="post">
                <div class="form--inner flex slidepage-1">
                    <div class="form--title">Basic information</div>
                    <div class="input--field">
                        <div class="label">First Name:</div>
                        <input type="text" name="fname" class="regForm--text">
                    </div>
                    <div class="input--field">
                        <div class="label">Middle Name:</div>
                        <input type="text" name="mname" class="regForm--text">
                    </div>
                    <div class="input--field">
                        <div class="label">Last Name:</div>
                        <input type="text" name="lname" class="regForm--text">
                    </div>
                    <div class="input--field">
                        <div class="label">Gender:</div>
                        <select name="gender" class="gender--form">
                            <option>Male</option>
                            <option>Female</option>
                            <option>Other</option>
                        </select>
                    </div>
                    <div class="input--field input--field-btn flex">
                        <button type="button" class="input--field-btn first--btn reg--btn next--step">Next</button>
                    </div>
                </div>
                <div class="form--inner flex slidepage-2">
                    <div class="form--title">Contact & Birth Information</div>
                    <div class="input--field">
                        <div class="label">Mobile Number:</div>
                        <input type="number" name="mNumber" class="regForm--text">
                    </div>
                    <div class="input--field">
                        <div class="label">Birth Date:</div>
                        <input type="date" name="birthDate">
                    </div>
                    <div class="input--field">
                        <div class="label">Place of birth: </div>
                        <input type="text" name="placeOfBirth" class="regForm--text">
                    </div>
                    <div class="input--field">
                        <div class="label">Citizenship:</div>
                        <input type="text" name="citizenship" class="regForm--text">
                    </div>
                    <div class="input--field input--field-btn flex">
                        <button class="input--field-btn reg--btn prev--step"type="button">Previous</button>
                        <button class="input--field-btn reg--btn next--step"type="button">Next</button>
                    </div>
                </div>
                <div class="form--inner flex slidepage-3">
                    <div class="form--title">Address</div>
                    <div class="input--field ">
                        <div class="label">House Address:</div>
                        <input type="text" name="houseAddress" class="regForm--text">
                    </div>
                    <div class="input--field">
                        <div class="label">Province:</div>
                        <input type="text" name="province" class="regForm--text">
                    </div>
                    <div class="input--field">
                        <div class="label">City/Municipality </div>
                        <input type="text" name="cityMuni" class="regForm--text">
                    </div>
                    <div class="input--field">
                        <div class="label">Zip Code: </div>
                        <input type="number" name="zipCode" class="regForm--text">
                    </div>
                    <div class="input--field input--field-btn flex">
                        <button class="input--field-btn reg--btn prev--step"type="button">Previous</button>
                        <button class="input--field-btn reg--btn next--step"type="button">Next</button>
                    </div>
                </div>
                <div class="form--inner flex">
                    <div class="form--title">Email & Password</div>
                    <div class="input--field ">
                        <div class="label">Email Address:</div>
                        <input type="email" name="email" id ="email" class="regForm--text">
                    </div>
                    <div class="input--field slidepage-4">
                        <div class="label">Password</div>
                        <input type="password" name="password" id="password" class="regForm--text">
                    </div>
                    <div class="input--field">
                        <div class="label">Confirm Password:</div>
                        <input type="password" name="confirmPassword" id="confirmPassword" class="regForm--text">
                    </div>
                        <p class="passCon hide">Passwords match! ✅</p>
                        <p class="passConfirm hide">Passwords do not match!❌</p>
                    <div class="input--field input--field-btn last-page flex">
                        <button class="input--field-btn reg--btn prev--step"type="button">Previous</button>
                        <button class="input--field-btn reg--btn submit--Btn" type="submit" form="reg-form">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="modal hide reg--modal flex">
        <div class="reg--modal-content">
            <a href="/" class="close fa-solid fa-circle-xmark"></a>
            <p>You're all set up! <br>Thank you for Registering with SouthMate!</p>
        </div>
    </div>
<%- include("partials/signinFoot") %>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<script src="/javascript/index.js"></script>
</body>
</html>