*, *::before, *::after{
    box-sizing: border-box;

}
body,html{
    height: 100%;
    margin: 0;
    padding: 0;

}
body{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color:#27235E;
}

h1,h2, h3{
    font-family: 'Tilt Warp';
}
a{
    text-decoration: none;
}
.flex{
    display: flex;
}
.present{
    font-size: 20px;
    font-weight: bold;
}
.hide{
    display: none;
    visibility: hidden;
}
.owl-carousel{
    width: 100%;
    height: 100vh;
}
.slide{
    width: 100%;
    height: 100vh;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.slide::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
}
.slide-1{
    background-image: url(../assets/uspfPic--1.png);
}
.slide-2{
    background-image: url(../assets/uspfPic--2.png);
}
.slide-3{
    background-image: url(../assets/uspfPic--3.png);
}
.slide-content {
    max-width: 1200px;
    text-align: center;
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    color: #fff;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 0 10%;
}
/* primary content - carousel */
.carouselLogo{
    max-height: 200px;
}
.owl-prev, .owl-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #fff !important;
    font-size: 65px !important;
    font-weight: bolder !important;
    background:none !important;
}

.owl-prev {
    left: 1%;
}

.owl-next {
    right: 1%;
}
.register{
    background-color: #D4D0FF;
    color:black;
    padding: 0.25rem 1.5rem;
    border-radius: 10rem;
    border: none;
}
.download{
    background-color: #27235E;
    color: white;
    padding: 0.25rem 1.5rem;
    border-radius: 10rem;
    border: none;
}
.register:hover, 
.register:focus,
.download:hover,
.download:focus {
    opacity: 0.75;
}
/* second content */

.second--content{
    background-color: #D4D0FF;
    padding: 2rem 10%;
    text-align: center;
}
.second--content-inner{
    flex-direction: column;
}
/* third content */
.third--content{
    padding: 2rem 10%;
}
.third--content-inner{
    flex-direction: column;
}
.third--content-img{
    width: 100%;
    max-height: 40vh;
}
.third--content-sidebar{
    flex-direction: column;
    text-align: center;
}
.third--content-rows{
    background-color: #968FFF;
    padding: 1.25rem;
    margin: 0.75rem 0;
    border-radius: 1rem;
}
/* about Page */
.about{
    padding: 1rem 2rem;
    flex-direction: column;
}
.about p{
    font-size: 20px;
    color:black;
}
.about h1{
    text-align: center;
}
.about--main-content{
    max-width: 1200px;
    line-height: 1.5rem;
    padding-right: 1.5rem;
}
.about--secondary-content{
    text-align: center;
    margin: 0 auto;
    max-width: 300px;
}

.foundPic{
    width: 100%;
    max-height: 30vh;
}
.about--secondary-content p{
    margin: 1.5rem;
}
/* end of about page */

/* register landing page */
.reg-email{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.reg-email-main{
    max-width: 400px;
    max-height: 600px;
    margin: 10%; 
    padding: 3rem 1.75rem;
    background-color: #968FFF;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
    border-radius: 1rem;
}
.reg-logo{
    padding-bottom: 1.3rem;
    max-width: 100%;
    max-height: 150px;
}
.reg--box{
    padding: 2.3rem 1rem;
}
.reg--box-top{
    flex-direction: column;
}
.reg--box-bottom{
    text-align: center;
    padding-bottom: 0;
}
.reg-content{
    margin-top: 1rem;
}
.inputText{
    width: 100%;
    text-align: center;
}
.reg--btn{
    background-color: #F7EE21;
    padding: 0.5rem 3.5rem;
    border: none;
    border-radius: 10rem;
    font-size: 16px;
    font-weight: bold;
}
.reg--btn:active{
    color: #27235E;
}
.submit--Btn-inactive{
    opacity: 50%;
}
/* end of register landing page */
/* register form start */

.register--form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    font-size: 1rem;
}

.form--outer{
    margin: 7.5% 0;
    max-width: 30%;
    min-width: 330px;
    text-align: left;
    background-color: #968FFF;
    border-radius: 5px;
    padding: 2rem 1rem;
    overflow: hidden;
}
.reg--title{
    text-align: center;
}
.reg--title-prog--bar{
    padding: 2.5rem;
    padding-top: 0;
}
.reg--form{
    width: 400%;
}
.progress-bar{
    justify-content:space-evenly;
    gap: 1rem;
}
.next-page{
    margin-left: -25%;
}
.step{
    max-width: 72px;
    width: 100%;
    text-align: center;
    position: relative;
}
.step p{
    font-size: 18px;
    font-weight: bold;
}

.bullet{
    position: relative;
    height: 28px;
    width: 28px;
    border: 2px solid #27235E;
    display: inline-block;
    border-radius: 50%;
}
.bullet-enlarge{
    height: 34px;
    width: 34px;
    border: 3px solid black;
}
.info{
    padding-top:1px;
}
.form--inner{
    flex-direction: column;
    padding: 0 3rem;
    width: 25%;
    transition: margin-left 0.3s ease-in-out;
}

.regForm--text{
    width: 100%;
    border: none;
    padding: 0.5rem;
    border-radius: 5px;
}
.form--title{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 24px;
}
.input--field{
    padding-top: 1rem;
}
.input--field-btn{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    text-transform:uppercase;
    color:#27235E;
    margin-top: auto;
}

.input--field-btn + .input--field-btn{
    margin-top: 0.5rem;
}
.gender--form{
    width: 100%;
    padding: 9px;
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    color:#27235E;
}
/* modal */
.modal {
    align-items: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.reg--modal-content{
    text-align: center;
    background-color: white;
    margin:auto;
    padding: 20px;
    border: 1px solid #888;
    width: 70%;
    max-width: 500px;
}
.signin--modal-content, .cash--modal-content{
    background-color: #D4D0FF;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 10px;
    width: 75%;
    max-width: 450px;
}
.signin-form,.money-form{
    flex-direction: column;
    width: 100%;
    padding: 1.5rem 0;
}
.signin-logo{
    padding-bottom: 1.3rem;
    max-width: 100%;
    max-height: 150px;
}
.signin-form--bottom,.money-form--bottom{
    text-align: center;
}
.signin--btn,.money--btn{
    background-color: #F7EE21;
    padding: 0.5rem 3.5rem;
    border: none;
    border-radius: 10rem;
    font-size: 16px;
    font-weight: bold;
}
.close{
    float: right;
}
.close:hover,
.close:focus{
    opacity: 0.75;
}

/* logged in user CSS */
.landing-container{
    width: 100%;
    flex-direction: column;
}
.landing--content{
    margin: 0;
    padding: 0;
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
}
.landing--content-outer{
    border: 1px black solid;
    padding: 1rem;
    text-align: left;
    background-color: #191FAD;
    border-radius: 0.75rem;
    flex-direction: column;
}
.landing--content-inner{
    background-color:#F7EE21;
    border-radius: 0.75rem;
    padding: 1rem;
    width: 100%;
    margin-bottom: 0.5rem;
}
.inner--content-text{
    padding-left: 1rem;
}
.inner--content-text h1{
    font-size: 1.5rem;
    margin-top: 2px;
    margin-bottom:0;
}
.inner--content-text p{
    margin-top: 0;
    font-weight: bold;
}
.user-avatar{
    height: 5.5rem;
    width: 5.5rem;
    margin: 0;
    border-radius: 10rem;
    border: 2px black solid;
}
.balance{
    padding-left: 0.5rem;
}
.balance h3{
    margin-top: 5px;
    font-size: 1.5rem;
    margin-bottom: 0;
}
.balance p{
    font-size: 1.3rem;
    margin: 0;
}
.user-info{
    /* align-items: center; */
    color: white;
    font-weight: bold;
    justify-content:space-between;
}
.logged-icons{
    flex-direction: column;
    align-items: center;
}
.logged-icons+.logged-icons{
    margin-left:0.5rem;
}
.cashoutIcon img{
    height: 2.5rem;
    width: 2.5rem;
    padding-bottom: 0;
    padding-top: 0.2rem;
}
.cashinIcon img{
    margin: 0;
    height: 2.5rem;
    width: 2.5rem;
    padding: 0;
}
.logged-icons p{
    margin: 0;
    text-align: center;
}
.logged-icons a{
    text-decoration: none;
    color: white;
}
.cash--modal{
    padding-top: 20%;
}
.transaction--title{
    font-size: 1.15rem;
}
.transaction--text{
    margin: 0.6rem 0;
}
.history{
    margin-top: 1.5rem;
    border: 1px solid black;
    border-radius: 0.75rem;
    padding: 1rem;
    margin-bottom: 0.5rem;
    flex-direction: column;
}
.history--list-active{
    border: #27235E 1px solid;
    padding-left: 1rem;
    line-height: 0.3;
    background-color:rgba(212, 208, 255, 0.5);
    display: none;
}
.history--list-active hr{
    margin-right: 1rem;
    border: 1px solid black;
}
.history--content{
    border-bottom: 1px solid black;
    justify-content: space-between;
}
.history--content h2{
    padding: 0 1rem;
}
.landing--content-sidebar{
    flex-direction: column;
    text-align: center;
}
.landing--sidebar{
    border: black 1px solid;
    border-radius: 1rem;
}
.banks{
    background-color: lightblue;
    border-radius: 1rem;
}
.bankLogo{
    height: 2rem;
    width: 2rem;
}
.bank-radio{ 
    padding-bottom: 1rem;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.bank--list{
    display: none;
}
.regBank{
    margin: 20%;
    max-width: 400px;
    padding: 3rem 1.75rem;
    background-color: #968FFF;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
    border-radius: 1rem;
}
.banks--button{
    background-color: lightblue;
    border-radius: 0.5rem;
    padding: 0 0.5rem;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 2rem;
}
.banks--button h3{
    margin:auto 0;
}
.noBanks {
    margin: 0 auto;
}
/* mobile responsive condition */

@media(min-width:750px){
    /* content adjustments */
    .second--content-inner{
        flex-direction: row;
    }
    .third--content-img{
        max-width: 600px;
    }
    .third--content-sidebar,.landing--content-sidebar{
        flex-direction: row;
    }
    .third--content-rows+.third--content-rows, .logo{
        margin-left: 1rem;
    }
    .landing--content-sidebar{
        margin-top: 1rem;
    }
    .landing--sidebar+.landing--sidebar{
        margin-left: 0.25rem;
    }
    .history{
        padding:1.5rem;
    }
}
@media(min-width: 1000px){
    .third--content-inner{
        flex-direction: row;
        justify-content: space-around;
    }
    .third--content-main{
        width: 55%;
    }
    .third--content-sidebar{
        max-width: 400px;
        width: 40%;
        flex-direction: column;
    }
    .third--content-rows{
        width: 100%;
    }
    .third--content-rows+.third--content-rows{
        margin-left: 0;
    }
    .end--content{
        flex-direction: row;
    }
    .end--content-inner{
        width: 50%;
    }
    .end--content-inner{
        width: 50%;
    }
    .about{
        flex-direction: row;
    }
    .landing-container{
        flex-direction: row;
    }
    .landing--content{
        padding: 2.5rem;
    }
    .landing--content-sidebar{
        margin-left: 4rem;
        width: 40%;
        padding: 0.5rem;
        flex-direction: column;
        max-width: 400px;
    }
    .landing--sidebar{
        padding: 0.5rem;
        margin-bottom: 2rem;
    }
    .balance{
        padding-left: 1rem;
    }
    .balance h3{
        margin-top: 5px;
        font-size: 2rem;
        margin-bottom: 0;
    }
    .balance p{
        font-size: 1.5rem;
        margin: 0;
    }
    .logged-icons{
        flex-direction: column;
    }
    .logged-icons img{
        height: 3.5rem;
        width: 3.5rem;
        padding: 0.4rem;
        margin-left: 0.4rem;
    }
    .cashoutIcon img{
        padding-bottom: 0;
        padding-top: 0.2rem;
    }
    .cashinIcon img{
        margin: 0;
        height: 3.5rem;
        width: 3.5rem;
        padding: 0;
    }
    .logged-icons p{
        margin: 0;
        text-align: center;
    }
    .inner--content-text h1{
        font-size: 2rem;
        margin-top: 2px;
        margin-bottom:0;
    }
}
@media(min-width: 1500px){
    .input--field-btn{
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: center;
    }
    .input--field-btn + .input--field-btn{
        margin-top: 0;
        margin-left: 0.5rem;
    }
}

